body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://abrakadabra.fun/uploads/posts/2021-12/1639440368_1-abrakadabra-fun-p-fon-melkie-serdechki-1.jpg);
    background-color: rgba(255,255,255,0.4);
    background-blend-mode: lighten;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
